.list {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  border-radius: 10px;
  background-color: lightgrey;
}

.item {
  width: 80%;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: grey;
}
